<header ng-include src="'modules/home/views/menu.html'"></header>


<style>
  tbody tr:hover.selected td,
  tbody tr:hover td {
    background-color: #FFEFC6;
    cursor: pointer;
  }
  tbody tr.selected td {
    background-color: #ffd659;
  }
</style>
<script>

    $(".table").on('click','tr',function(e){
        e.preventDefault();
        var id = $(this).attr('value');
        $(this)
            .toggleClass("selected")
            .siblings(".selected")
            .removeClass("selected");

        var orderstobeplaceddiv = $(this).closest("div").prop('id');
        angular.element('#'+orderstobeplaceddiv).scope().selected(id);
        angular.element('#'+orderstobeplaceddiv).scope().$apply();
    });

</script>
<div class="container-fluid center-block" id="orderstobeplaceddiv">
  <table class="table table-striped">
    <caption>Orders to be placed</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks" value="{{task['task-id']}}">
      <td> {{$index + 1}} </td>
      <td>{{ task['task-name'] }}</td>
      <td>{{ task['task-description'] }}</td>
      <td>{{ task['task-status'] }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="page-content">
  <ng-include src="taskDetailsURL" ng-controller="SupplierOrderDetailsController" onload="selected(getSelected())"></ng-include>
</div>