<header ng-include src="'modules/home/views/menu.html'"></header>

<style>
  tbody tr:hover.selected td,
  tbody tr:hover td {
    background-color: #E8E8E8;
    cursor: pointer;
  }
  tbody tr.selected td {
    background-color: #B8B8B8;
  }
</style>
<script>

    $(".table").on('click','tr',function(e){
        e.preventDefault();
        var id = $(this).attr('value');
        $(this)
            .toggleClass("selected")
            .siblings(".selected")
            .removeClass("selected");

        var suppliertasksdiv = $(this).closest("div").prop('id');
        angular.element('#'+suppliertasksdiv).scope().selected(id);
        angular.element('#'+suppliertasksdiv).scope().$apply();
    });

</script>

<div class="container-fluid center-block" id="suppliertasksdiv">
  <table class="table table-striped">
    <caption>Pending Tasks</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>Type</th>
      <th>Description</th>
      <th>Created On</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks" value="{{ task['task-id'] }}">
      <td> {{$index + 1}} </td>
      <td>{{ task['task-name'] }}</td>
      <td>{{ task['task-description'] }}</td>
      <td>{{task['task-created-on'] | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td>{{task['task-status']}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="page-content">
  <ng-include src="taskDetailsURL" ng-controller="HardwareSpecController" onload="selected(getSelected())"></ng-include>
</div>