<header ng-include src="'modules/home/views/menu.html'"></header>
<style>
  tbody tr:hover.selected td,
  tbody tr:hover td {
    background-color: #FFEFC6;
    cursor: pointer;
  }
  tbody tr.selected td {
    background-color: #ffd659;
  }
</style>
<script>

    $(".table").on('click','tr',function(e){
        e.preventDefault();
        var id = $(this).attr('value');
        $(this)
            .toggleClass("selected")
            .siblings(".selected")
            .removeClass("selected");

        var ordersdivid = $(this).closest("div").prop('id');
        angular.element('#'+ordersdivid).scope().selected(id);
        angular.element('#'+ordersdivid).scope().$apply();
    });

</script>
<div class="container-fluid center-block" id="ordersdiv">
  <table class="table table-striped">
    <caption>My Orders</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>Order Type</th>
      <th>Order Number</th>
      <th>Initiated by</th>
      <!--<th>Actions</th>-->
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders" value="{{order['case-id']}}">
      <td> {{$index + 1}} </td>
      <td>{{ order['case-description'] }}</td>
      <td>{{ order['case-id'] }}</td>
      <td>{{ order['case-owner'] }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="page-content">
  <ng-include src="orderDetailsURL" ng-controller="OrderDetailsController" onload="selected(getSelected())"></ng-include>
</div>

