<p><div class="container-fluid center-block">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks">
      <td> {{$index + 1}} </td>
      <td>{{ task['task-name'] }}</td>
      <td>{{ task['task-description'] }}</td>
      <td>

        <button class="btn btn-primary" ng-click="go(task['task-name'], task['task-id'])">Open</button>

      </td>
    </tr>
    </tbody>
  </table>
</div></p>